/*
 * Magento 2 Boilerplate
 * https://github.com/epartment/magento2-theme-epartment-boilerplate
 * Author: Epartment E-commerce B.V.
 * License: MIT
 */
@import 'boilerplate/magento-ui/lib';

@import 'boilerplate/variables';
@import 'boilerplate/fonts';
@import 'boilerplate/buttons';
@import 'boilerplate/swatches';
@import 'boilerplate/inputs';
@import 'boilerplate/forms';
@import 'boilerplate/menu';
@import 'boilerplate/header';
@import 'boilerplate/product';
@import 'boilerplate/footer';