/*
 * Magento 2 Boilerplate
 * https://github.com/epartment/magento2-theme-epartment-boilerplate
 * Author: Epartment E-commerce B.V.
 * License: MIT
 */

button {
  background: $button-default-background-color;
  border: $button-default-border;
  border-radius: $button-default-border-radius;
  transition: $button-default-transition;
  color: $button-default-color;
  font-family: $button-default-font-family;
  font-size: $button-default-font-size;
  font-weight: $button-default-font-weight;
  transition: $button-default-transition;
  padding: $button-default-padding;
  text-transform: $button-default-text-transform;

  &.action {
    &:hover {
      background: $button-default-hover-background-color;
      border: $button-default-hover-border;
    }
    &.primary {
      background: $button-primary-background-color;
      border: $button-primary-border;
      color: $button-primary-color;
      padding: $button-primary-padding;
      font-size: $button-primary-font-size;
      text-transform: $button-primary-text-transform;
      font-weight: $button-primary-font-weight;
      transition: $button-primary-transition;

      &:hover {
        background: $button-primary-hover-background-color;
        border: $button-primary-hover-border;
        color: $button-primary-hover-color;
      }

      &.tocart {
        font-size: $button-primary-font-size;
      }

      &#product-addtocart-button {
        font-size: $button-primary-font-size;
      }

    }

    &.secondary {
      background: $button-secondary-background-color;
      border: $button-secondary-border;
      color: $button-secondary-color;
      font-size: $button-secondary-font-size;
      text-transform: $button-secondary-text-transform;

      &:hover {
        background: $button-secondary-hover-background-color;
        border: $button-secondary-hover-border;
        color: $button-secondary-hover-color;
      }
    }
  }
}

.action {
  &.primary {
    background: $button-primary-background-color;
    border: $button-primary-border;
    color: $button-primary-color;
    padding: $button-primary-padding;
    font-size: $button-primary-font-size;
    text-transform: $button-primary-text-transform;

    &:hover {
      background: $button-primary-hover-background-color;
      border: $button-primary-hover-border;
      color: $button-primary-hover-color;
    }

    &.tocart {
      font-size: $button-primary-font-size;
    }

    &#product-addtocart-button {
      font-size: $button-primary-font-size;
    }

  }

  &.secondary {
    background: $button-secondary-background-color;
    border: $button-secondary-border;
    color: $button-secondary-color;
    font-size: $button-secondary-font-size;

    &:hover {
      background: $button-secondary-hover-background-color;
      border: $button-secondary-hover-border;
      color: $button-secondary-hover-color;
    }
  }
}

.block.newsletter {
  .action.subscribe {
    height: $input-default-height;
  }
  .field .control:before {
    line-height: $input-default-height;
  }
}

.modes {
  .modes-mode {
    background: $toolbar-modes-mode-background;
    border-top: $toolbar-modes-mode-border;
    border-left: $toolbar-modes-mode-border;
    border-bottom: $toolbar-modes-mode-border;
    color: $toolbar-modes-mode-color;
    padding: $toolbar-modes-mode-padding;
    &:before {
      color: $toolbar-modes-mode-color;
    }
    &:last-child {
      border-right: $toolbar-modes-mode-border;
      &.active {
        border-right: $toolbar-modes-mode-active-border;
      }
      &:hover {
        border-right: $toolbar-modes-mode-hover-border;
      }
    }

    &.active {
      background: $toolbar-modes-mode-active-background;
      border-left: $toolbar-modes-mode-active-border;
      border-top: $toolbar-modes-mode-active-border;
      border-bottom: $toolbar-modes-mode-active-border;
      color: $toolbar-modes-mode-active-color;
      padding: $toolbar-modes-mode-active-padding;
      &:before {
        color: $toolbar-modes-mode-active-color;
      }
    }

    &:hover {
      background: $toolbar-modes-mode-hover-background;
      border-left: $toolbar-modes-mode-hover-border;
      border-top: $toolbar-modes-mode-hover-border;
      border-bottom: $toolbar-modes-mode-hover-border;
      color: $toolbar-modes-mode-hover-color;
      padding: $toolbar-modes-mode-hover-padding;
      &:before {
        color: $toolbar-modes-mode-hover-color;
      }
    }
  }
}
