/*
 * Magento 2 Boilerplate
 * https://github.com/epartment/magento2-theme-epartment-boilerplate
 * Author: Epartment E-commerce B.V.
 * License: MIT
 */

button {
  background: $button-default-background-color;
  border: $button-default-border;

  &.action {
    &.primary {
      background: $button-primary-background-color;
      border: $button-primary-border;
    }
  }
}