input[type="text"], input[type="radio"], input[type="checkbox"], input[type="email"], input[type="password"], input[type="tel"], input[type="number"], select, textarea {
  background-color: $input-default-background-color;
  border: $input-default-border;
  border-radius: $input-default-border-radius;
  height: $input-default-height;
  width: $input-default-width;
  margin: $input-default-margin;
  padding: $input-default-padding;
  vertical-align: $input-default-vertical-align;
  font-size: $input-default-font-size;
  color: $input-default-color;
  font-family: $input-default-font-family;
  font-weight: $input-default-font-weight;
  font-style: $input-default-font-style;
  line-height: $input-default-line-height;

  &:focus {
    background-color: $input-default-focus-background-color;
    border: $input-default-focus-border;
    color: $input-default-focus-color;
    font-style: $input-default-focus-font-style;
  }

  &:disabled {
    background-color: $input-default-disabled-background-color;
    border: $input-default-disabled-border;
    opacity: $input-default-disabled-opacity;
    color: $input-default-disabled-color;
    font-style: $input-default-disabled-font-style;
  }

  &::placeholder {
    opacity: 1;
    color: $input-default-placeholder-color !important;
    font-style: $input-default-placeholder-font-style;
  }

}

input[type="text"] {
  background-color: $input-type-text-background-color;
  border-color: $input-type-text-border-color;
  border: $input-type-text-border;
  border-radius: $input-type-text-border-radius;
  height: $input-type-text-height;
  width: $input-type-text-width;
  margin: $input-type-text-margin;
  padding: $input-type-text-padding;
  vertical-align: $input-type-text-vertical-align;
  font-size: $input-type-text-font-size;
  color: $input-type-text-color;
  font-family: $input-type-text-font-family;
  font-weight: $input-type-text-font-weight;
  font-style: $input-type-text-font-style;
  line-height: $input-type-text-line-height;

  &:focus {
    background-color: $input-type-text-focus-background-color;
    border: $input-type-text-focus-border;
    color: $input-type-text-focus-color;
    font-style: $input-type-text-focus-font-style;
  }

  &:disabled {
    background-color: $input-type-text-disabled-background-color;
    border: $input-type-text-disabled-border;
    opacity: $input-type-text-disabled-opacity;
    color: $input-type-text-disabled-color;
    font-style: $input-type-text-disabled-font-style;
  }

  &::placeholder {
    opacity: 1;
    color: $input-type-text-placeholder-color !important;
    font-style: $input-type-text-placeholder-font-style;
  }
}

select {
  background-color: $input-select-background-color;
  border-color: $input-select-border-color;
  border: $input-select-border;
  border-radius: $input-select-border-radius;
  height: $input-select-height;
  width: $input-select-width;
  margin: $input-select-margin;
  padding: $input-select-padding;
  vertical-align: $input-select-vertical-align;
  font-size: $input-select-font-size;
  color: $input-select-color;
  font-family: $input-select-font-family;
  font-weight: $input-select-font-weight;
  font-style: $input-select-font-style;
  line-height: $input-select-line-height;

  &:focus {
    background-color: $input-select-focus-background-color;
    border: $input-select-focus-border;
    color: $input-select-focus-color;
    font-style: $input-select-focus-font-style;
  }

  &:disabled {
    background-color: $input-select-disabled-background-color;
    border: $input-select-disabled-border;
    opacity: $input-select-disabled-opacity;
    color: $input-select-disabled-color;
    font-style: $input-select-disabled-font-style;
  }

  &::placeholder {
    opacity: 1;
    color: $input-select-placeholder-color !important;
    font-style: $input-select-placeholder-font-style;
  }
}

textarea {
  resize: $input-textarea-resize;
  background-color: $input-textarea-background-color;
  border-color: $input-textarea-border-color;
  border: $input-textarea-border;
  border-radius: $input-textarea-border-radius;
  height: $input-textarea-height;
  min-height: $input-textarea-min-height;
  width: $input-textarea-width;
  margin: $input-textarea-margin;
  padding: $input-textarea-padding;
  vertical-align: $input-textarea-vertical-align;
  font-size: $input-textarea-font-size;
  color: $input-textarea-color;
  font-family: $input-textarea-font-family;
  font-weight: $input-textarea-font-weight;
  font-style: $input-textarea-font-style;
  line-height: $input-textarea-line-height;

  &:focus {
    background-color: $input-textarea-focus-background-color;
    border: $input-textarea-focus-border;
    color: $input-textarea-focus-color;
    font-style: $input-textarea-focus-font-style;
  }

  &:disabled {
    background-color: $input-textarea-disabled-background-color;
    border: $input-textarea-disabled-border;
    opacity: $input-textarea-disabled-opacity;
    color: $input-textarea-disabled-color;
    font-style: $input-textarea-disabled-font-style;
  }

  &::placeholder {
    opacity: 1;
    color: $input-select-placeholder-color !important;
    font-style: $input-select-placeholder-font-style;
  }
}

input[type="checkbox"] {
  width: $input-choice-width;
}

.limiter-options {
  background-color: $input-limiter-background-color;
  border: $input-limiter-border;
  border-radius: $input-limiter-border-radius;
  height: $input-limiter-height;
  width: $input-limiter-width;
  margin: $input-limiter-margin;
  padding: $input-limiter-padding;
  vertical-align: $input-limiter-vertical-align;
  font-size: $input-limiter-font-size;
  color: $input-limiter-color;
  font-family: $input-limiter-font-family;
  font-weight: $input-limiter-font-weight;
  font-style: $input-limiter-font-style;
  line-height: $input-limiter-line-height;

  &:focus {
    background-color: $input-limiter-focus-background-color;
    border: $input-limiter-focus-border;
    color: $input-limiter-focus-color;
    font-style: $input-limiter-focus-font-style;
  }

  &:disabled {
    background-color: $input-limiter-disabled-background-color;
    border: $input-limiter-disabled-border;
    opacity: $input-limiter-disabled-opacity;
    color: $input-limiter-disabled-color;
    font-style: $input-limiter-disabled-font-style;
  }
}

.sorter {
  .sorter-options {
    background-color: $input-sorter-background-color;
    border: $input-sorter-border;
    border-radius: $input-sorter-border-radius;
    height: $input-sorter-height;
    width: $input-sorter-width;
    margin: $input-sorter-margin;
    padding: $input-sorter-padding;
    vertical-align: $input-sorter-vertical-align;
    font-size: $input-sorter-font-size;
    color: $input-sorter-color;
    font-family: $input-sorter-font-family;
    font-weight: $input-sorter-font-weight;
    font-style: $input-sorter-font-style;
    line-height: $input-sorter-line-height;
  }
  .sorter-action {
    &:before {
      line-height: $input-sorter-line-height;
    }
  }
}


/****
** Sidebar input
****/

.sidebar {
  input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], select {
    border: $input-default-border;
    border-radius: $input-default-border-radius;
    padding: $input-default-padding;
    line-height: $input-default-line-height;
    font-size: $input-default-font-size;
    font-weight: $input-default-font-weight;
    color: #2e2e2e;
    height: 45px;
  }
}

/* Search input icon */
.block-search .action.search {
  height: $input-default-height;
}