.nav-sections {
  background: $menu-bar-background;
  margin: $menu-bar-margin;

  .navigation {
    background: $menu-bar-background;

    .ui-menu-item.level-top {
      a {
        font-size: $menu-bar-menu-item-font-size;
        font-weight: $menu-bar-menu-item-font-weight;
        font-family: $menu-bar-menu-item-font-family;
        color: $menu-bar-menu-item-color;

        &:hover {
          color: $menu-bar-menu-item-hover-color;
          background: $menu-bar-menu-item-hover-background;
        }
      }

      &.has-active {
        > a {
          color: $menu-bar-menu-item-active-color;
          background: $menu-bar-menu-item-active-background;
          border-top: $menu-bar-menu-item-active-border-top;
          border-bottom: $menu-bar-menu-item-active-border-bottom;
          border-left: $menu-bar-menu-item-active-border-left;
          border-right: $menu-bar-menu-item-active-border-right;

          &:hover {
            color: $menu-bar-menu-item-hover-color;
            background: $menu-bar-menu-item-hover-background;
          }
        }
      }
    }
    .level0 {
      .submenu {
        background: $menu-bar-menu-item-submenu-background;

        li {
          a {
            color: $menu-bar-menu-item-submenu-item-color;
            font-weight: $menu-bar-menu-item-submenu-item-font-weight;
            border-color: $menu-bar-menu-item-submenu-item-border-color;
          }

          &:hover {
            background: $menu-bar-menu-item-submenu-item-hover-background;
            a {
              color: $menu-bar-menu-item-submenu-item-hover-color;
              font-weight: $menu-bar-menu-item-submenu-item-hover-font-weight;
            }
          }
        }
      }
    }
  }
}

.breadcrumbs {
  .items {
    .item {
      font-size: $breadcrumb-item-font-size;
      line-height: $breadcrumb-item-line-height;
      padding: $breadcrumb-item-padding;
      color: $breadcrumb-item-color;
      font-weight: $breadcrumb-item-font-weight;

      a {
        font-size: $breadcrumb-item-font-size;
        line-height: $breadcrumb-item-line-height;
        padding: $breadcrumb-item-padding;
        color: $breadcrumb-item-color;
        font-weight: $breadcrumb-item-font-weight;
      }
      strong {
        font-weight: $breadcrumb-item-current-font-weight;
        color: $breadcrumb-item-current-color;
      }

      &:after {
        color: $breadcrumb-item-chevron-color;
        line-height: $breadcrumb-item-chevron-line-height;
      }
    }
  }
}

