.price-wrapper {
  span.price {
    font-size: $font-default-font-size;
    font-weight: $font-default-font-weight;
    line-height: $font-default-font-line-height;
    color: $font-default-color;
  }
}