/*
 * Magento 2 Boilerplate
 * https://github.com/epartment/magento2-theme-epartment-boilerplate
 * Author: Epartment E-commerce B.V.
 * License: MIT
 */

/*
 * Color pallete
 */

$primary-color: red;
$secondary-color: orange;
$alt-primary-color: blue;
$alt-secondary-color: magenta;

$color-primary-gradient-color: linear-gradient(red, orange);
$color-secondary-gradient-color: linear-gradient(magenta, blue);

/*
 * Fonts
 */
$font-default-font-family-primary: 'Montserrat';
$font-default-font-family-secondary: 'Open Sans';
$font-default-font-size: 12px;
$font-default-font-weight: 400;
$font-default-font-line-height: 18px;
$font-default-color: black;
$font-default-heading-color: $primary-color;

$font-family: $font-default-font-family-primary;
$font-family-headings: $font-default-font-family-secondary;
$font-family-headings-color: blue;
$font-family-headings-weight: 600;
$font-family-heading-line-height: 1.2;

$font-default-link-color: red;
$font-default-link-hover-color: red;
$font-default-link-decoration: underline;
$font-default-link-font-weight: $font-default-font-weight;
$font-default-link-hover-font-weight: 600;

/*
 * Buttons
 */
$button-default-background-color: $primary-color;
$button-default-border: 1px solid $secondary-color;
$button-default-border-radius: 2px;
$button-default-color: $alt-primary-color;
$button-default-font-size: 12px;
$button-default-font-weight: 400;
$button-default-transition: all .34s ease-in-out;
$button-default-padding: 10px 20px;
$button-default-text-transform: uppercase;

/* Button default states */
$button-default-hover-background-color: $alt-primary-color;
$button-default-hover-border: 1px solid $alt-secondary-color;
$button-default-hover-color: white;

/* Button primary */
$button-primary-background-color: $button-default-background-color;
$button-primary-border: $button-default-border;
$button-primary-color: $font-default-color;
$button-primary-font-weight: 600;
$button-primary-font-size: $button-default-font-size;
$button-primary-transition: $button-default-transition;
$button-primary-padding: $button-default-padding;
$button-primary-text-transform: $button-default-text-transform;

/* Button primary hover states */
$button-primary-hover-background-color: $button-default-hover-background-color;
$button-primary-hover-border: $button-default-hover-border;
$button-primary-hover-color: $button-default-hover-color;

/* Button secondary */
$button-secondary-background-color: white;
$button-secondary-border: 1px solid blue;
$button-secondary-font-size: $button-default-font-size;
$button-secondary-padding: 20px;
$button-secondary-transition: $button-default-transition;
$button-secondary-color: $alt-secondary-color;
$button-secondary-text-transform: $button-default-text-transform;

/* Button secondary hover states */
$button-secondary-hover-background-color: black;
$button-secondary-hover-border: red;
$button-secondary-hover-color: red;

/*
 * Inputs & Forms
 */

/* [input-text|select|textarea|input-radio|input-checkbox] */
$input-default-background-color: white;
$input-default-border-color: gray;
$input-default-border: 1px solid $input-default-border-color;
$input-default-border-radius: 3px;
$input-default-height: 36px;
$input-default-width: 100%;
$input-default-margin: 0;
$input-default-padding: 0 9px;
$input-default-vertical-align: middle;
$input-default-font-size: $font-default-font-size;
$input-default-color: black;
$input-default-font-family: $font-default-font-family-secondary;
$input-default-font-weight: $font-default-font-weight;
$input-default-font-style: normal;
$input-default-line-height: 36px;

/* Placeholder */
$input-default-placeholder-color: #84929F;
$input-default-placeholder-font-style: $input-default-font-style;

/* Disabled state */
$input-default-disabled-background-color: $input-default-background-color;
$input-default-disabled-border: $input-default-border;
$input-default-disabled-opacity: .2;
$input-default-disabled-color: $input-default-color;
$input-default-disabled-font-style: $input-default-font-style;

/* Focus state */
$input-default-focus-background-color: $input-default-background-color;
$input-default-focus-border: $input-default-border;
$input-default-focus-color: $input-default-color;
$input-default-focus-font-style: $input-default-font-style;

/* Textarea */
$input-textarea-default-height: auto;
$input-textarea-default-resize: vertical;

/* Checkbox / Radio */
$input-choice-default-width: auto;

/*
 * Fieldset / Fields
 */

/* Fieldset */
$form-fieldset-border: 0;
$form-fieldset-margin: 0;
$form-fieldset-padding: 0;
$form-fieldset-legend-color: $font-default-color;
$form-fieldset-legend-font-size: 24px;
$form-fieldset-legend-font-family: $font-default-font-family-secondary;
$form-fieldset-legend-font-weight: 600;
$form-fieldset-legend-font-style: normal;
$form-fieldset-legend-line-height: 1.2;
$form-fieldset-legend-margin: 20px 0;
$form-fieldset-legend-padding: 0;
$form-fieldset-legend-width: inherit;

/* Field */

$form-fieldset-field-type: block;
$form-fieldset-field-margin: 0 0 20px;
$form-fieldset-field-box-sizing: border-box;

$form-fieldset-field-choice-before-width: auto;
$form-fieldset-field-choice-before-padding: 0;
$form-fieldset-field-choice-before-height: inherit;
$form-fieldset-field-choice-before-float: none;


/* Label */
$form-fieldset-field-label-padding: 6px 15px 0 0;
$form-fieldset-field-label-text-align: left;
$form-fieldset-field-label-width: auto;
$form-fieldset-field-label-float: none;
$form-fieldset-field-label-font-weight: 600;

$form-fieldset-field-choice-label-margin: 0 0 0 5px;

/* Control */
$form-fieldset-field-control-width: auto;
$form-fieldset-field-control-float: none;

/* Action toolbar */
$form-action-toolbar-margin: 20px 0;
$form-action-toolbar-padding: 0;


